.app-headline > h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
  -webkit-text-stroke: 0.1rem grey;
}

/* 
.greeting::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #d9bd62;
  -webkit-text-stroke: 0vw #d9bd62;
  border-right: 2px solid #d9bd62;
  overflow: hidden;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */
